<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml 
        </param-value>
    </context-param>
    <context-param>
        <param-name>PhotoPath</param-name>
        <param-value>/data/hrms/empphoto/</param-value>
    </context-param>
    <context-param>
        <param-name>ParPath</param-name>
        <param-value>/data/hrms/par/</param-value>
    </context-param>
    <context-param>
        <param-name>LeavePath</param-name>
        <param-value>/data/hrms/leave/</param-value>
    </context-param>
	<context-param>
        <param-name>lpcPath</param-name>
        <param-value>/data/hrms/lpcpath/</param-value>
    </context-param>
	<context-param>
        <param-name>payBillXMLDOC</param-name>
        <param-value>/data/hrms/payBillXMLDOC/</param-value>
    </context-param>
	<context-param>
        <param-name>agfilePath</param-name>
        <param-value>/data/hrms/empphoto/</param-value>
    </context-param>
	<context-param>
        <param-name>agdownloadPDFPath</param-name>
        <param-value>/data/hrms/aghrms/</param-value>
    </context-param>
	<context-param>
        <param-name>TrainingDocumentPath</param-name>
        <param-value>/data/hrms/training/</param-value>
    </context-param> 
	<context-param>
        <param-name>OnlineTrainingDocumentPath</param-name>
        <param-value>/data/hrms/OnlineTrainingDocuments/</param-value>
    </context-param> 
	<context-param>
        <param-name>LoanPath</param-name>
        <param-value>/data/hrms/loan/</param-value>
    </context-param>
    <context-param>
        <param-name>LoangpfPath</param-name>
        <param-value>/data/hrms/loangpf/</param-value>
    </context-param>
     <context-param>
        <param-name>LoanHBAPath</param-name>
        <param-value>/data/hrms/loanHBA/</param-value>
    </context-param>
	 <context-param>
        <param-name>AERPath</param-name>
        <param-value>/data/hrms/aerreport/</param-value>
    </context-param>
	 
	<context-param>
        <param-name>DmpFilePath</param-name>
        <param-value>/tmp/</param-value>
    </context-param>
	 <context-param>
        <param-name>FileSeparator</param-name>
        <param-value>/</param-value>
    </context-param>
	<context-param>
        <param-name>FilePath</param-name>
        <param-value>/data/hrms/ticket/</param-value>
    </context-param>
	<context-param>
        <param-name>SBPath</param-name>
        <param-value>/data/hrms/sbfirstpage/</param-value>
    </context-param>
	<context-param>
        <param-name>PayBillPDf</param-name>
        <param-value>/data/hrms/PayBillPDf/</param-value>
    </context-param>
	<context-param>
        <param-name>AEROrdersPath</param-name>
        <param-value>/data/hrms/aerpostorders/</param-value>
    </context-param>
	<context-param>
        <param-name>ReviewedPARFilePath</param-name>
        <param-value>/data/hrms/ReviewedPAR/</param-value>
    </context-param>
    <context-param>
        <param-name>LoanXML</param-name>
        <param-value>/data/hrms/loanXML/</param-value>
    </context-param>
    <context-param>
        <param-name>BankChangeAttachproof</param-name>
        <param-value>/data/hrms/empBankdetailAttach/</param-value>
    </context-param>
	 <context-param>
        <param-name>ClearanceCertificatePath</param-name>
        <param-value>/data/hrms/ClearanceCertificatePath/</param-value>
    </context-param>
    <context-param>
        <param-name>FinalNDCPath</param-name>
        <param-value>/data/hrms/FinalNDCPath/</param-value>
    </context-param> 
	<context-param>
        <param-name>policeDocPath</param-name>
        <param-value>/data/hrms/policeNominationDoc/</param-value>
    </context-param>
	<context-param>
        <param-name>hrmsconfig</param-name>
        <param-value>/data/hrms/hrmsconfig/</param-value>
    </context-param>
	
	<context-param>
        <param-name>SuperAnnuationProjectionReport</param-name>
        <param-value>/data/hrms/SuperAnnuationProjectionReport/</param-value>
    </context-param>
	
	<context-param>
        <param-name>IFMSKeyPath</param-name>
        <param-value>/data/hrms/KEY/</param-value>
    </context-param> 
    <context-param>
        <param-name>IFMSReturnURL</param-name>
        <param-value>https://apps.hrmsodisha.gov.in/ApplyRentNDC.htm</param-value>
    </context-param>  
	
	<context-param>
        <param-name>TPFSchedulePDFPath</param-name>
        <param-value>/data/hrms/TPF/</param-value>
    </context-param>  
	<context-param>
        <param-name>BaseURLPath</param-name>
        <param-value>https://apps.hrmsodisha.gov.in/</param-value>
    </context-param> 
	
	<context-param>
        <param-name>PropertyPath</param-name>
        <param-value>/data/hrms/PropertyStatementQRCode/</param-value>
    </context-param>
	<context-param>
        <param-name>ParQRCodePath</param-name>
        <param-value>/data/hrms/PARQRCode/</param-value>
    </context-param>
	<context-param>
        <param-name>ParGradingPath</param-name>
        <param-value>/data/hrms/ParGradingDocument/</param-value>
    </context-param>
	
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	<listener>
        <listener-class>in.cdac.epramaan.sp.samlconnector.SSOConnectorListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
	<servlet>
        <servlet-name>jaxws-servlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSSpringServlet</servlet-class>
    </servlet>
	<!--<servlet>
        <servlet-name>SSOSamlRequestCreator</servlet-name>
        <servlet-class>hrms.controller.login.SSOSamlRequestCreator</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>SSOSamlResponseConsumer</servlet-name>
        <servlet-class>hrms.controller.login.SSOSamlResponseConsumer</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>WebCamUpload</servlet-name>
        <servlet-class>hrms.controller.WebCamUpload</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>CaptchaServlet</servlet-name>
		<servlet-class>hrms.controller.CaptchaGenServlet</servlet-class>
	</servlet>  
	
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>jaxws-servlet</servlet-name>
        <url-pattern>/eQuaterService</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>jaxws-servlet</servlet-name>
        <url-pattern>/EmployeeService</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>jaxws-servlet</servlet-name>
        <url-pattern>/LoginService</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>jaxws-servlet</servlet-name>
        <url-pattern>/TaskService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebCamUpload</servlet-name>
        <url-pattern>/WebCamUpload</url-pattern>
    </servlet-mapping>	
	<servlet-mapping>
        <servlet-name>jaxws-servlet</servlet-name>
        <url-pattern>/EmployeeServiceForLMS</url-pattern>
    </servlet-mapping>
	<!--<servlet-mapping>
        <servlet-name>SSOSamlRequestCreator</servlet-name>
        <url-pattern>/ssosamlrequestcreator</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>SSOSamlResponseConsumer</servlet-name>
        <url-pattern>/SSOSamlResponseConsumer</url-pattern>
    </servlet-mapping>-->
	
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/captcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/restService/*</url-pattern>
    </servlet-mapping>
  
    <session-config>
        <session-timeout>120</session-timeout>
        <cookie-config>
            <name>appshrms</name>
            <http-only>true</http-only>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    
    
	<filter>
        <filter-name>AddCustomHeaderFilter</filter-name>
        <filter-class>com.redhat.jboss.support.AddCustomHeaderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AddCustomHeaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<!--<filter>
        <filter-name>loadSalt</filter-name>
        <filter-class>com.redhat.jboss.support.LoadSalt</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loadSalt</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>validateSalt</filter-name>
        <filter-class>com.redhat.jboss.support.ValidateSalt</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>validateSalt</filter-name>
        <url-pattern>/par/*</url-pattern>
    </filter-mapping> --> 
	
	<!--<filter>
        <filter-name>UserAuthenticatedFilter</filter-name>
        <filter-class>hrms.common.UserAuthenticatedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthenticatedFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
	
    <!-- Spring Security
  
    <filter>  
        <filter-name>springSecurityFilterChain</filter-name>  
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>  
    </filter>  
  
    <filter-mapping>  
        <filter-name>springSecurityFilterChain</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping> 
       -->  
    <welcome-file-list>        
		<welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>   
    
    <error-page>
        <exception-type>org.springframework.web.HttpSessionRequiredException</exception-type>
        <location>/index.htm</location>
    </error-page>
	<error-page>        
        <error-code>404</error-code>
        <location>/error404.htm</location>
    </error-page>
    <distributable/>
</web-app>
